* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #fff;
    color: #252A34;
    font-family: 'Rubik', sans-serif;
    line-height: 1.4;
}

/* Utility */

a {
    text-decoration: none;
    color: #252A34;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    padding: 0 2rem;
    margin: auto;
}

.py-3 {
    padding: 6rem 0;
}

.mt-2 {
    margin-top: 4rem;
}

.mt-3 {
    margin-top: 6rem;
}

.bg-light {
    background-color: #f9f9f9;
}


.text-primary {
    color: crimson;
}
.primary-heading {
    font-size: 4rem;
}

.secondary-heading {
    font-size: 2rem;
    font-weight: 800;
}

.tertiary-heading {
    font-size: 1.75rem;
    font-weight: 800;
}

.subheading {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .25rem;
    color: crimson;
}

.grid {
    display: grid;
    gap: 3rem;
}

.grid-3-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

/* *************** */
/* ***Header Section***/
/* *************** */

.header {
    background: url("./img/meh.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.top-bar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 20px rgb(0 0 0 / 9%);
}

.main-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.main-nav ul {
    display: flex;
    gap: 1rem;
}

.section-hero {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

/* *************** */
/* ***About Section***/
/* *************** */

.about-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.about-content .left {
    border-radius: 11px;
    overflow: hidden;
}

.about-content img {
    width: 100%;
}

.about-content .right {
    margin-left: 6rem;
}

.services .item {
    width: 100%;
    background-color: #fff;
    height: 400px;
    border-radius: 11px;
    padding: 2rem;
    box-shadow: 0 0 20px rgb(0 0 0 / 9%);
}